:root{
    --black: #000000;
    --blue: #1e90ff;
    --white: #ffffff;
}


.form-group {
    width: 400px;
}

.pagination{
    margin-top: 20px;
}
.pagination a{
    color: var(--black);
    padding: 5px;
    border-radius: 5px;
    background: var(--white);
    margin: 5px;
}
 .product-list {
    max-width: 400px;
    padding: 20px;
}

.product-image {
    width: 100px;
}

.buttons {
    width: 400px;
    margin: 10px;
}

.round {
    margin: 20px;
}

.round div textarea{
    resize: none;
} 